/*     NAVIGATION BAR    */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    padding: 10px 0;
}

nav a {
    margin: 0 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s;
}

nav a:hover {
    color: #FFD700;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-color: black;
}

.hero-section {
    background-image: url('images/home.jpg');
    background-size: cover;
    background-position: top;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
}

.intro-text {
    font-size: 4rem;
    display: flex;
    flex-direction: column;
}

.letter {
    display: inline-block;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s forwards;
}

.name-text {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 1s forwards;
    animation-delay: 0.500s;
    margin-top: -135px;
}

.dots {
    opacity: 0;
    animation: blinkDots 1.5s infinite step-start;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes blinkDots {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.skills-section {
    background-image: url('images/skills.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
    padding: 40px 20px; /* Add padding to the top */
    justify-content: flex-start; /* Align items to the top */
}

.skills-section h1 {
    text-align: center;
    margin: 20px 0;
    /* You may want to add some margin-top if needed */
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content:center; /* Center the images horizontally */
    gap: 20px;
    margin-right: 390px;
    margin-top: 180px;
}
.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skill img {
    width: 150px;
}

.projects-section {
    background-image: url(images/projects.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    gap: 100px;
    padding: 20px;
}

.project-box {
    width: 250px;
    height: 250px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.project-image {
    width: 85%;
    height: auto;
    position: relative;
    top: -10%;
    object-fit: cover;
}

.link-box {
    width: 100%;
    background-color: rgb(13, 13, 13);
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 16px;
}

.link-box a {
    color: #fafafa;
    text-decoration: none;
    padding: 5px;
}

.link-box a:hover {
    color: #007bff;
}

.contact-section {
    background-image: url('images/contacts.png');
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.social-logo {
    width: 50px;
    height: auto;
}

.scroll-to-home {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.scroll-to-home:hover {
    transform: scale(1.1);
}

.arrow-icon {
    width: 30px;
    height: 30px;
}

.footer-section {
    background-color: #333;
    color: white;
    padding: 40px;
    text-align: center;
}

.footer-section h1 {
    margin-bottom: 20px;
    font-size: 24px;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

.footer-links a:hover {
    text-decoration: underline;
}